<!--        ____________ _____   				           -->
<!--       /            \    /   				           -->
<!--      /     _________\  /					           -->
<!--      \     \          /					           -->
<!--       \     \        /	 Steve Visinand		           -->
<!--        \     \      /   26.10.15			           -->
<!--   ______\     \    /	 index.html		               -->
<!--  /             \  /	 "left pannel element		   -->
<!-- /_______________\/		 , draw tools"				   -->
<!--                                                       -->
<!--            <drawtoolspannel></drawtoolspannel>        -->

<div class="left_pannel">

    <div class="left_pannel_name">
        <p>{{panel.name}}</p>
    </div>



    <!--<div class="control_cat">-->
        <!--<div class="control_head"> <p>Une catégorie</p> </div>-->
    <!--
        <div class="control_element" ng-click="panel.clickTest()"><i class="fa fa-black-tie"></i></div>
        <div class="control_element"><i class="fa fa-flask"></i></div>
        <div class="control_element"><i class="fa fa-black-tie"></i></div>

    </div>
    -->


    <!--<div class="control_tool" id="control_tool_used">
        <div class="control_tool_ico"><i class="fa fa-pencil"></i></div> <div class="control_tool_title"><p>Pinceau</p></div>
    </div>-->


    <div ng-repeat="tool in panel.tools" class="control_tool"  ng-click="panel.selectTool(tool)" ng-attr-id="{{panel.isSelected(tool) ? 'control_tool_used' : '' }}" >
        <div class="control_tool_ico"><i class="fa fa-circle"></i></div> <div class="control_tool_title"><p>{{tool.name}}</p></div>
    </div>


    <div id="control_melange">

        <div class="melange_color" ng-click="panel.selectPrimaryColor()" style="background-color: #{{panel.primaryColor}}">
            &nbsp;
        </div>

        <div class="melange_color" ng-click="panel.selectSecondaryColor()" style="background-color: #{{panel.secondaryColor}}">
            &nbsp;
        </div>
    </div>



    <div id="popup_colorPicker" class="popup_block">

        <h2 class="popup_title">{{panel.popupColor_name}}</h2>

        <span class="cp-basic" style="display: inline-block; vertical-align: top;">
        </span>

        <div class="close_popup" ng-click="panel.closePopupColor()">{{panel.popupColor_btnValid}}</div>
    </div>


</div>