//Colors
$color-primary : #964D07;         //    FF7F00 : base Color
$color-primary-lighter : #995117;   //    FF8C19 : base Color var 1 lighter
$color-primary-darker : #4B2404;    //    C36100 : base Color var 2 darker
$color-secondary : #0895BA;         //    0089B2 : second base Color
$color-secondary-lighter : #0CD7FA; //    00C3FF : second base Color var 1 lighter

$color-background-dark : #3A3939;
$color-background-light : #e3e3e3;
$color-background-mid : #c3c3c3;