@charset "UTF-8";
/*--        ____________ _____   				            --*/
/*--       /            \    /   				            --*/
/*--      /     _________\  /					            --*/
/*--      \     \          /					            --*/
/*--       \     \        /	 Steve Visinand		            --*/
/*--        \     \      /   30.11.15			            --*/
/*--   ______\     \    /	 styles.css    		            --*/
/*--  /             \  /	 "home styles file"		        --*/
/*-- /_______________\/							            --*/


@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: Lato-thin;
    src: url(../fonts/Lato-Thin.ttf);
}
@font-face{
    font-family: Lobster;
    src: url(../fonts/Lobster.otf);
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

#head{
    background-color: #FF7F00;
    
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);

    background-image: url(http://www.transparenttextures.com/patterns/absurdity.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for         production environments. Thank you! */
}
#head h1{
    font-family: Lobster, Arial;
    color: white;
}

h1, h2, h3, h4{
    font-family: Lobster, Arial !important;
}

#btnTry{
    width:220px;
    font-size: 16px;
    z-index: 100;
    margin-top: -90px;

}

#head_big{
    background-color: #FF7F00;
    color:white;
    vertical-align: middle;
}
#banniere-head{
    
}
#title-head{
    display: block;
    vertical-align: middle;
}


#content-center{
    margin-top: 50px;
    margin-bottom: 20px;
}

#descr-head{
    margin-top: -150px;
}

/**
    C36100
    FF8C19
    FF7F00
    0089B2
    00C3FF
**/
